.payu-block {
    width: 100%;
    text-align: center;
}
.payu-block__wrapper {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    max-width: 452px;
}
.block-payu-cards .card .col {
    vertical-align: middle;
}
.block-payu-cards .card__logo img {
    max-height: 30px;
}
.block-payu-cards .card__action button[type="submit"] {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border: 0;
    font-weight: 400;
    color: #1979c3;
    font-size: 1.4rem;
}
.block-payu-cards .card__action button[type="submit"]:hover {
    text-decoration: underline;
}
.payu-repay {
    margin-bottom: 20px;
}
.payu-repay .repay__method:last-child {
    border-bottom: 1px solid #cccccc;
}
.payu-repay .repay__method .payment-method-title {
    padding: 20px 0;
    border-top: 1px solid #cccccc;
}
.payu-repay .repay__method .payment-method-title label {
    cursor: pointer;
}
.payu-repay .repay__method .payment-method-content {
    padding: 0 0 20px;
}
.payu-repay .msg__repay {
    margin-top: 10px;
}
.payment-loader {
    display: none;
}
.payment-loader .loader {
    background-image: url('../images/loader-1.gif');
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10006;
    width: 64px;
    height: 64px;
}
.payu-payment._active .payment-method-content {
    display: block;
}
.payu-payment__logo {
    max-height: 25px;
    margin-bottom: -5px;
}
.payu-payment .payment-method-content {
    display: none;
}
.payu-payment .payment__method {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #dcdcdc;
}
.payu-payment .payment__method .method__single {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
    height: 60px;
    float: left;
}
.payu-payment .payment__method .method__single--content {
    width: 100%;
    height: 100%;
}
.payu-payment .payment__method .method__single--content label {
    display: block;
}
.payu-payment .payment__method .method__single--content img {
    max-height: calc(100% - 18px);
    max-width: calc(100% - 18px);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.payu-payment .payment__method .method__single--content__image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.payu-payment .payment__method .method__single:nth-child(5n + 1) {
    padding-left: 0;
}
.payu-payment .payment__method .method__single--clear {
    clear: both;
}
.payu-payment .payment__method .payu-card,
.payu-payment .payment__method .payu-pex {
    margin-bottom: 10px;
    cursor: pointer;
}
.payu-payment .payment__method .payu-card__img-wrapper,
.payu-payment .payment__method .payu-pex__img-wrapper {
    text-align: center;
    min-width: 100px;
    font-size: 0;
}
.payu-payment .payment__method .payu-card__img-wrapper > *,
.payu-payment .payment__method .payu-pex__img-wrapper > * {
    font-size: 1em;
}
.payu-payment .payment__method .payu-card__info,
.payu-payment .payment__method .payu-pex__info {
    list-style: none;
    position: relative;
    display: table;
    box-sizing: border-box;
}
.payu-payment .payment__method .payu-card__info > *,
.payu-payment .payment__method .payu-pex__info > * {
    display: table-cell;
    vertical-align: middle;
}
.payu-payment .payment__method .payu-card__info span,
.payu-payment .payment__method .payu-pex__info span {
    padding-left: 20px;
}
.payu-payment .payment__method .payu-card__info img,
.payu-payment .payment__method .payu-pex__info img {
    max-height: 30px;
}
.payu-payment .payment__method .method__single--content,
.payu-payment .payment__method .payu-card,
.payu-payment .payment__method .payu-pex {
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.payu-payment .payment__method .method__single--content:not(._disabled),
.payu-payment .payment__method .payu-card:not(._disabled),
.payu-payment .payment__method .payu-pex:not(._disabled) {
    cursor: pointer;
}

.payu-payment .payment__method .method__single--content:not(._disabled):hover,
.payu-payment .payment__method .payu-card:not(._disabled):hover,
.payu-payment .payment__method .payu-pex:not(._disabled):hover {
    background: rgba(220, 220, 220, 0.5);
    border-color: grey;
}
.payu-payment .payment__method .method__single--content:not(._disabled):focus,
.payu-payment .payment__method .payu-card:not(._disabled):focus,
.payu-payment .payment__method .payu-pex:not(._disabled):focus {
    border-color: darkgreen;
}
.payu-payment .payment__method .method__single--content:not(._disabled)._active,
.payu-payment .payment__method .payu-card:not(._disabled)._active,
.payu-payment .payment__method .payu-pex:not(._disabled)._active {
    background: rgba(220, 220, 220, 0.5);
    border-color: darkgreen;
}
.payu-payment .payment__method .method__single--content._disabled,
.payu-payment .payment__method .payu-card._disabled,
.payu-payment .payment__method .payu-pex._disabled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
    cursor: default;
}
.payu-payment .payment__payu-agreement .payu-agreement__wrapper {
    margin-top: 20px;
}
.payu-payment .payment__payu-agreement .payu-agreement__wrapper > * {
    margin-bottom: 10px;
}
.payu-payment .payment__payu-agreement .payu-agreement__wrapper .payu-text {
    font-size: 10px;
}
.checkout-index-index .actions-toolbar .action.primary,
.sales-order-repayview .actions-toolbar .action.primary {
    margin-top: 20px;
}
.payu-msg .msg__error {
    color: red;
}

@media all and (min-width: 768px), print {
    .payu-payment .payment__method .method__single {
        width: 16.66666667%;
    }
}