<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payu_gateway>
                <active>1</active>
                <model>PayUPaymentGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <title>PayU</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_review_payment>1</can_review_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </payu_gateway>
            <payu_gateway_card>
                <active>1</active>
                <model>PayUPaymentGatewayCardFacade</model>
                <payment_action>authorize</payment_action>
                <title>PayU - Cards</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_review_payment>1</can_review_payment>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>2</sort_order>
            </payu_gateway_card>
        </payment>
    </default>
</config>
