<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>PayU_PaymentGateway::payu_gateway</resource>
            <group id="payu_gateway" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayU</label>
                <comment><![CDATA[If you do not already have PayU merchant account, <a href="https://secure.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento2#/form" target="_blank">please register in Production</a> or <a href="https://secure.snd.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento2#/form" target="_blank">please register in Sandbox</a>]]></comment>
                <group id="main_parameters" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main parameters</label>
                    <attribute type="expanded">1</attribute>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable plugin?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="payment_methods_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods Order</label>
                        <comment><![CDATA[Enter payment methods values separated by comma. <href="http://developers.payu.com/pl/overview.html#paymethods">List of payment methods</a>]]></comment>
                    </field>
                </group>
                <group id="pos_parameters" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>POS parameters</label>
                    <attribute type="expanded">1</attribute>
                    <field id="pos_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>POS ID (pos_id)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="second_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Second key (MD5)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_id</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_secret</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <depends>
                        <field id="*/*/main_parameters/active">1</field>
                        <field id="*/*/main_parameters/environment">0</field>
                    </depends>
                </group>
                <group id="sandbox_pos_parameters" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>POS parameters - Sandbox mode</label>
                    <attribute type="expanded">1</attribute>
                    <field id="sandbox_pos_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>POS ID (pos_id)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_second_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Second key (MD5)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_id</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_secret</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <depends>
                        <field id="*/*/main_parameters/active">1</field>
                        <field id="*/*/main_parameters/environment">1</field>
                    </depends>
                </group>
                <field id="repayment" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable repayment?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Automatic collection on the POS should be disabled. <href="https://github.com/PayU/plugin_magento_2#ponowienie-płatności">More information</a>]]></comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="payu_gateway_card" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayU - Cards</label>
                <group id="main_parameters" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main parameters</label>
                    <attribute type="expanded">1</attribute>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable plugin?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="pos_parameters" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>POS parameters</label>
                    <attribute type="expanded">1</attribute>
                    <field id="pos_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>POS ID (pos_id)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="second_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Second key (MD5)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_id</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_secret</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="mcp_partner_id" translate="labael" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Multi Currency Pricing - partner ID</label>
                    </field>
                    <depends>
                        <field id="*/*/main_parameters/active">1</field>
                        <field id="*/*/main_parameters/environment">0</field>
                    </depends>
                </group>
                <group id="sandbox_pos_parameters" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>POS parameters - Sandbox mode</label>
                    <attribute type="expanded">1</attribute>
                    <field id="sandbox_pos_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>POS ID (pos_id)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_second_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Second key (MD5)</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_id</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>OAuth protocol - client_secret</label>
                        <validate>validate-no-empty</validate>
                    </field>
                    <field id="sandbox_mcp_partner_id" translate="labael" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Multi Currency Pricing - partner ID</label>
                    </field>
                    <depends>
                        <field id="*/*/main_parameters/active">1</field>
                        <field id="*/*/main_parameters/environment">1</field>
                    </depends>
                </group>
                <field id="store_card" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable store card?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Additional configuration in PayU is needed. <href="https://github.com/PayU/plugin_magento_2#zapisywanie-kart">More information</a>]]></comment>
                </field>
                <field id="repayment" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable repayment?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Automatic collection on the POS should be disabled. <href="https://github.com/PayU/plugin_magento_2#ponowienie-płatności">More information</a>]]></comment>
                </field>
                <field id="currency_rates" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable currency rates?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Additional configuration in PayU is needed. <href="https://github.com/PayU/plugin_magento_2#przewalutowanie">More information</a>]]></comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
